body {
    background-color: black;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    text-align: center;
    color: aqua;
    background-color: red;
    padding: 2em;
    
}

button:hover {
    box-shadow: 8px 5px 10px white;
    transition: 2s;
}

input {
    padding: 2em;
    text-align: center;
    margin-right: .5 em;
}

input::placeholder {
    font-size: 17px;
}

.resposta {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 2em;
}

.texto {
    max-width: 200px;
    color: rgb(0, 0, 0);
    background-color: beige;
    font-size: 13px;
    padding: 5em 6em;
    border: solid 1px black;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 8px red;
    text-transform: uppercase;
    font-weight: 700;
}
